<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--这里将没有在spring容器中注册的Service手动注入进去-->
    <bean id="helloService" class="org.zheng.service.HelloServiceImpl2"></bean>

</beans>